node_modules/
android/.gradle/
android/app/build/
android/build/
android/.idea/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
.debug/
.DS_Store
*.log
android/app/*firebase*.json
android/app/*.json
!android/app/src/main/assets/capacitor.config.json

